<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> <%= pageTitle %> </title>
</head>
<body class="<%= page_name %>">
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/view">View</a></li>
    <li><a href="/data">Data</a></li>
    <li><a href="/">Home</a></li>
  </ul>
</nav>
