<% include includes/header.ejs %>

<h2> <%= pageTitle %> </h2>
<h2> <%= siteData[0].name %> </h2>

<ul>
  <% for(var i=0; i<siteData.length; i++) {%>
    <li> <a href="<%= siteData[i].name %>"><%= siteData[i].name %></a> </li>
  <% } %>
</ul>

<% include includes/footer.ejs %>
