<% include includes/header.ejs %>

    <h1> <%= pageTitle %> </h1>

    <a href="/view"> click to see the DB data </a>

    <form class="" action="/insertdata" method="POST">
      <label for="email">Email</label>
      <input type="email" name="email" value="">
      <label for="first_name">Name: </label>
      <input type="text" name="first_name" value="">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" value="">
      <input type="submit" name="" value="submit">
    </form>


<% include includes/footer.ejs %>
