<% include includes/header.ejs %>

<div>
  Name: <%= oneuser[0].first_name %> <br/>
  Last Name: <%= oneuser[0].last_name %> <br/>
  Email: <%= oneuser[0].email %>

</div>

<% include includes/footer.ejs %>
