<% include includes/header.ejs %>

<ul>
  <% for(var i=0; i<users.length; i++) {%>
    <li> <a href="<%= users[i].first_name %>"><%= users[i].first_name %></a> </li>
  <%} %>
</ul>

<% include includes/footer.ejs %>
